{% extends "app/layout.html" %}

{% block content %}
<div class="container border p-4">

 <h3 class="fw-bold">Cat List</h3>
    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="table-dark">
                <tr>
                    <th>Name</th>
                    <th>ID</th>
                    <th>Breed</th>
                </tr>
            </thead>
            <tbody>
                {% for cat in cats %}
                <tr>
                    <td>
                        <a href="{% url 'cat_details' cat.CatID %}" class="text-decoration-none">
                            {{ cat.Name }}
                        </a>

                    </td>
                    <td>{{ cat.CatID }}</td>
                    <td>{{ cat.Breed }}</td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">No cats found</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}
