{% extends "app/layout.html" %}

{% block content %}
    <style>
        .btn-custom {
            padding: 15px 30px; /* Increase padding */
            margin: 15px ;
            font-size: 1.5rem; /* Increase text size */
            width: 100%; /* Make buttons full width */
        }
    </style>

    <div class="container border p-4">
        <h2 class="fw-bold border-bottom pb-2">Management Bar</h2>

        <div class="d-flex justify-content-between mb-3">
            <div>
                <a href="{% url 'menu' %}" class="btn btn-primary">Manage Account</a>
                <a href="{% url 'system_settings' %}" class="btn btn-primary"> System Setting</a>
                <a href="{% url 'cat_list' %}" class="btn btn-primary"> Cat List</a>
            </div>
        </div>
        <h3 class="fw-bold">System Settings</h3>
        <div class="container">
            <div class="d-grid gap-3 mt-4">
                 <a href="{% url 'backup_database' %}" class="btn btn-primary btn-lg btn-custom">Backup Data</a>

                <form action="{% url 'import_database' %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="db_file" class="form-control mb-2" required>
            <button type="submit" class="btn btn-primary btn-lg btn-custom">Import Data</button>
             </form>
</div>

        </div>

        <div class="mt-3">
            <a href="{% url 'create_account' %}" class="btn btn-primary">Add Account</a>
        </div>
    </div>


{% endblock %}
